/* Reset básico de margens e paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  min-height: 100%; /* Usa min-height ao invés de height */
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #ffffff;
  padding: 1rem 0;
  text-align: center;
}

header h1 {
  text-align: center; /* Centraliza o texto horizontalmente dentro do elemento */
  margin-top: 50px; /* Adiciona uma margem no topo para espaçamento, ajuste conforme necessário */
  margin-bottom: 50px; /* Adiciona uma margem na parte inferior para espaçamento, ajuste conforme necessário */
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
}
}

nav {
   margin-top: 1rem;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  display: inline-block;
}

nav a:hover {
  text-decoration: underline;
}

button {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background: #333;
  color: #fff;
  border: none;
  margin-top: 10px;
}

button:hover {
  background: #555;
}

main {
  flex: 1;
  padding: 20px; /* Adicione um pouco de padding para todo o main */
}

footer {
  background-color: #333;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: .5rem;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: .5rem;
  border: 1px solid #ccc;
}

#exercise-image {
  max-width: 60%;
  height: auto;
  display: block;
  margin: 20px auto;
}

/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form label, form select, form input[type=date] {
    display: block;
    margin-top: 10px;
}

form button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}



